body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgray;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.full-width {
    width: 100%;
}

#img-table {
    text-align: center;
}

#img-table td {
    vertical-align: middle;
}

#update {
    text-align: right;
}

#dog-img {
    width: 30%;
}

.btn-flat {
    overflow: hidden;
    padding: 10px 20px;
  
    color: #fff;
    border-radius: 10px;
    background-color: dodgerblue;
}
