body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgray;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#description {
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
}

#descriptionText {
    flex-grow: 2;
    margin: auto;
}

#dogImageView {
    display: flex;
    flex-direction: column;
}

#dogImageUpdateButton {
    text-align: right;
}

.btn-flat {
    overflow: hidden;
    padding: 10px 20px;
  
    color: #fff;
    border-radius: 10px;
    background-color: dodgerblue;
}

/* 
.full-width {
    width: 100%;
}

#img-table {
    text-align: center;
}

#img-table td {
    vertical-align: middle;
}

#update {
    text-align: right;
}

#dog-img {
    width: 30%;
}

.btn-flat {
    overflow: hidden;
    padding: 10px 20px;
  
    color: #fff;
    border-radius: 10px;
    background-color: dodgerblue;
} */
